/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-color: #2e2f42;
  --text-color: #434455;
  --logo-web-color: #4d5ae5;
  --btn-color: #4d5ae5;
  --hover-color: #404bbf;
  --border-color: #e7e9fc;
  --background-btn-color: #e7e9fc;
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.link {
  list-style: none;
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* ===================== COMPONENTS ===================== */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section-title {
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-color);
}
.title {
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-color);
}
.paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
}

.buttons {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===================== /COMPONENTS ===================== */
/* ===================== HEADER ===================== */
.page-header {
  border-bottom: 1px solid var(--border-color);
  -webkit-box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.logo {
  padding: 24px 0;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-web-color);
}

.logo-web {
  color: var(--primary-color);
}

.menu,
.main-address {
  display: none;
}

.open-menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  stroke: var(--primary-color);
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}
.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 24px 24px 40px 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.close-menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-bottom: 32px;
  width: 24px;
  height: 24px;
  background-color: var(--border-color);
  fill: var(--primary-color);
  border: 1px solid rgba(46, 47, 66, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color var(--main-transition),
    fill var(--main-transition), -webkit-filter var(--main-transition);
  transition: background-color var(--main-transition),
    fill var(--main-transition), -webkit-filter var(--main-transition);
  -o-transition: background-color var(--main-transition),
    filter var(--main-transition), fill var(--main-transition);
  transition: background-color var(--main-transition),
    filter var(--main-transition), fill var(--main-transition);
  transition: background-color var(--main-transition),
    filter var(--main-transition), fill var(--main-transition),
    -webkit-filter var(--main-transition);
}

.close-menu-button:is(:hover, :focus) {
  background-color: var(--hover-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  fill: #f4f4fd;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-color);
}
.current-mob {
  color: #404bbf;
}

.mob-main-address {
  margin-bottom: 48px;
}

.contacts-tel {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: calc(28 / 25);
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.contacts-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.mob-menu-social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 328px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mob-menu-social-networks-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--logo-web-color);
  -webkit-transition: background-color var(--main-transition);
  -o-transition: background-color var(--main-transition);
  transition: background-color var(--main-transition);
}

.mob-menu-social-networks-link:hover,
.mob-menu-social-networks-link:focus {
  background-color: #31d0aa;
}
.mob-menu-link-icon {
  fill: currentColor;
}

/* ===================== /HEADER ===================== */
/* ===================== HERO ===================== */
.hero-section {
  height: 432px;
  margin: 0 auto;
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(46, 47, 66, 0.7)),
      to(rgba(46, 47, 66, 0.7))
    ),
    url(../images/hero/people-office-mob.jpg);
  background-image: -o-linear-gradient(
      left,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office-mob.jpg);
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office-mob.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-color: var(--primary-color);
  text-align: center;
  padding: 112px 0;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(46, 47, 66, 0.7)),
        to(rgba(46, 47, 66, 0.7))
      ),
      url(../images/hero/people-office-mob-2x.jpg);
    background-image: -o-linear-gradient(
        left,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-mob-2x.jpg);
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-mob-2x.jpg);
  }
}
@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (-o-min-device-pixel-ratio: 3/1),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .hero-section {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(46, 47, 66, 0.7)),
        to(rgba(46, 47, 66, 0.7))
      ),
      url(../images/hero/people-office-mob-3x.jpg);
    background-image: -o-linear-gradient(
        left,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-mob-3x.jpg);
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-mob-3x.jpg);
  }
}
.hero-title {
  margin: 0 auto;
  margin-bottom: 72px;
  max-width: 290px;
  font-size: 32px;
  line-height: calc(36 / 32);
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #ffffff;
}
.hero-btn {
  padding: 16px 32px;
  background: var(--btn-color);
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  -webkit-transition: background-color var(--main-transition);
  -o-transition: background-color var(--main-transition);
  transition: background-color var(--main-transition);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-color);
}
/* ===================== /HERO ===================== */
/* ===================== Section 2 our qualities */
.section-qualities {
  padding: 96px 0;
}

.list-item .title {
  margin-bottom: 8px;
}
.list-item {
  -ms-flex-preferred-size: 396px;
  flex-basis: 396px;
}

.qualities-icon {
  display: none;
}

/* ===================== /Section 2 our qualities =================== */
/* ===================== Section 3 what are we doing ================*/
.section-work {
  display: none;
}
/* ===================== /Section 3 what are we doing =============== */
/* ===================== team section ===================== */
.section-team {
  padding: 96px 0;
  background-color: #f4f4fd;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 72px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.team-title {
  margin-bottom: 72px;
}

.team-item {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-description {
  padding: 32px 16px;
  text-align: center;
}
.team-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
}
.team-prof {
  margin-bottom: 8px;
  font-weight: 400;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social-networks-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--logo-web-color);
  -webkit-transition: background-color var(--main-transition);
  -o-transition: background-color var(--main-transition);
  transition: background-color var(--main-transition);
}

.social-networks-link:hover,
.social-networks-link:focus {
  background-color: var(--hover-color);
}
.link-icon {
  fill: currentColor;
}

/* ===================== /team section ===================== */
/* ===================== Section 5 customers ===================== */
.section-customers {
  padding: 96px 0;
}

.section-customers .section-title {
  margin-bottom: 72px;
}

.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 72px 16px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.customers-item {
  -ms-flex-preferred-size: calc((100% - 16px) / 2);
  flex-basis: calc((100% - 16px) / 2);
}
.customers-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  fill: #8e8f99;
  -webkit-transition: fill var(--main-transition),
    border-color var(--main-transition);
  -o-transition: fill var(--main-transition),
    border-color var(--main-transition);
  transition: fill var(--main-transition), border-color var(--main-transition);
}

.customers-link:hover,
.customers-link:focus {
  fill: var(--hover-color);
  border-color: var(--hover-color);
}
/* ===================== /Section 5 customers ===================== */
/* ===================== footer ===================== */
.footer {
  background-color: var(--primary-color);
  padding: 96px 0;
}

.footer-container {
  text-align: center;
}

.footer-main-text {
  margin-bottom: 72px;
}
.footer-logo {
  display: block;
  margin-bottom: 16px;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-web-color);
}
.footer-logo-web {
  color: #f4f4fd;
}
.footer-text {
  max-width: 268px;
  margin: 0 auto;
  text-align: start;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
.footer-soc-networks {
  margin-bottom: 72px;
}

.social-media-title {
  margin-bottom: 16px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-social-networks-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--logo-web-color);
  -webkit-transition: background-color var(--main-transition);
  -o-transition: background-color var(--main-transition);
  transition: background-color var(--main-transition);
}

.footer-social-networks-link:hover,
.footer-social-networks-link:focus {
  background-color: #31d0aa;
}
.footer-link-icon {
  fill: currentColor;
}

.sub-form-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-sub-form {
  margin-bottom: 16px;
}

.sub-email-input {
  width: 100%;
  height: 40px;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  padding: 8px 16px;
  font-size: 12px;
  line-height: calc(24 / 12);
  letter-spacing: 0.04em;
  color: #ffffff;
}

.sub-email-input::-webkit-input-placeholder {
  color: #ffffff;
}

.sub-email-input::-moz-placeholder {
  color: #ffffff;
}

.sub-email-input:-ms-input-placeholder {
  color: #ffffff;
}

.sub-email-input::-ms-input-placeholder {
  color: #ffffff;
}

.sub-email-input::placeholder {
  color: #ffffff;
}
.sub-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 165px;
  padding: 8px 24px;
  gap: 16px;
  border: transparent;
  background: var(--btn-color);
  -webkit-transition: background-color var(--main-transition);
  -o-transition: background-color var(--main-transition);
  transition: background-color var(--main-transition);
}

.sub-button:hover,
.sub-button:focus {
  background-color: var(--hover-color);
}
.sub-btn-title {
  color: #ffffff;
}
.sub-icon-plane {
  fill: #ffffff;
}

/* ===================== /footer ===================== */
/*  ===================== modal =====================*/
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  -webkit-transition: opacity var(--main-transition),
    visibility var(--main-transition);
  -o-transition: opacity var(--main-transition),
    visibility var(--main-transition);
  transition: opacity var(--main-transition), visibility var(--main-transition);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1) rotate(0);
  -ms-transform: translate(-50%, -50%) scale(1) rotate(0);
  transform: translate(-50%, -50%) scale(1) rotate(0);
  -webkit-transition: -webkit-transform var(--main-transition);
  transition: -webkit-transform var(--main-transition);
  -o-transition: transform var(--main-transition);
  transition: transform var(--main-transition);
  transition: transform var(--main-transition),
    -webkit-transform var(--main-transition);
  min-width: 290px;
  height: 586px;
  background: #fcfcfc;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 24px 16px;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) scale(0) rotate(-180deg);
  transform: translate(-50%, -50%) scale(0) rotate(-180deg);
}

.modal-close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-bottom: 24px;
  width: 24px;
  height: 24px;
  background: var(--border-color);
  fill: var(--primary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color var(--main-transition),
    fill var(--main-transition), -webkit-filter var(--main-transition);
  transition: background-color var(--main-transition),
    fill var(--main-transition), -webkit-filter var(--main-transition);
  -o-transition: background-color var(--main-transition),
    filter var(--main-transition), fill var(--main-transition);
  transition: background-color var(--main-transition),
    filter var(--main-transition), fill var(--main-transition);
  transition: background-color var(--main-transition),
    filter var(--main-transition), fill var(--main-transition),
    -webkit-filter var(--main-transition);
}

.modal-close-btn:is(:hover, :focus) {
  background-color: var(--hover-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  fill: #f4f4fd;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.form-field {
  margin-bottom: 8px;
}

.label-name {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.input-wrap {
  position: relative;
}
.modal-input {
  padding: 11px 11px 11px 38px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border var(--main-transition), fill var(--main-transition);
  -o-transition: border var(--main-transition), fill var(--main-transition);
  transition: border var(--main-transition), fill var(--main-transition);
}

.modal-input:focus {
  border: 1px solid var(--btn-color);
}

.modal-input:focus + .modal-form-icon {
  fill: var(--btn-color);
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  fill: #2e2f42;
}

.comment {
  margin-bottom: 16px;
}

textarea {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding-top: 8px;
  padding-left: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border var(--main-transition);
  -o-transition: border var(--main-transition);
  transition: border var(--main-transition);
}

textarea:focus {
  border: 1px solid #4d5ae5;
}
textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
textarea::-moz-placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
textarea::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.checkbox {
  margin-bottom: 24px;
}

.policy-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.policy-text span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
  -webkit-transition: background-color var(--main-transition),
    fill var(--main-transition), border var(--main-transition),
    border-color var(--main-transition);
  -o-transition: background-color var(--main-transition),
    fill var(--main-transition), border var(--main-transition),
    border-color var(--main-transition);
  transition: background-color var(--main-transition),
    fill var(--main-transition), border var(--main-transition),
    border-color var(--main-transition);
}

.policy-check:checked + .policy-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.policy-check:focus + .policy-text span {
  border-color: #404bbf;
}
.policy-link {
  margin-left: 4px;
}

.modal-btn {
  width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
  background: var(--btn-color);
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  -webkit-transition: background-color var(--main-transition);
  -o-transition: background-color var(--main-transition);
  transition: background-color var(--main-transition);
}

.modal-btn:focus {
  background-color: var(--hover-color);
}
/*  ===================== /modal =====================*/
/* ===================== portfolio page ===================== */
.section-portfolio {
  padding: 48px 0;
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 16px 24px;

  margin-bottom: 48px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.portfolio-button {
  padding: 8px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: var(--btn-color);
  background: #f4f4fd;
  border: 1px solid var(--border-color);
  -webkit-transition: background-color var(--main-transition),
    color var(--main-transition), -webkit-box-shadow var(--main-transition);
  transition: background-color var(--main-transition),
    color var(--main-transition), -webkit-box-shadow var(--main-transition);
  -o-transition: background-color var(--main-transition),
    color var(--main-transition), box-shadow var(--main-transition);
  transition: background-color var(--main-transition),
    color var(--main-transition), box-shadow var(--main-transition);
  transition: background-color var(--main-transition),
    color var(--main-transition), box-shadow var(--main-transition),
    -webkit-box-shadow var(--main-transition);
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--hover-color);
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
}

.card-item {
  background: #ffffff;
  -webkit-transition: -webkit-box-shadow var(--main-transition);
  transition: -webkit-box-shadow var(--main-transition);
  -o-transition: box-shadow var(--main-transition);
  transition: box-shadow var(--main-transition);
  transition: box-shadow var(--main-transition),
    -webkit-box-shadow var(--main-transition);
}

.card-item:hover {
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-overlay:is(:hover, :focus) .card-hover-text {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.card-item-wrap {
  position: relative;
  overflow: hidden;
}
.card-hover-text {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  height: 100%;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--main-transition);
  transition: -webkit-transform var(--main-transition);
  -o-transition: transform var(--main-transition);
  transition: transform var(--main-transition);
  transition: transform var(--main-transition),
    -webkit-transform var(--main-transition);
  background-color: var(--btn-color);
  color: #f4f4fd;
}
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.card-paragraph {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.card-content {
  padding: 32px 16px;
  border: 1px solid var(--border-color);
  border-top: 0;
}
/* ===================== /portfolio page ===================== */
